.products__page {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  width: 75%;
  padding-top: 10px;
  @media (min-width: $xs) {
    margin-left: 65px;
  }
  @media (min-width: $large) {
    margin-left: 160px;
  }

  &-nav {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    color: $base-menu-color;
    cursor: pointer;
  }
  &-nav-home {
    @media (min-width: $xs) {
      margin: 0 10px;
    }
    @media (min-width: $small) {
      margin: 0 20px;
    }
    @media (min-width: $middle) {
      margin: 0 25px;
    }
  }
  &-nav-products {
    @media (min-width: $xs) {
      margin: 0 10px;
    }
    @media (min-width: $small) {
      margin: 0 20px;
    }
    @media (min-width: $middle) {
      margin: 0 25px;
    }
  }
  &-nav-about {
    @media (min-width: $xs) {
      margin: 0 10px;
    }
    @media (min-width: $small) {
      margin: 0 20px;
    }
    @media (min-width: $middle) {
      margin: 0 25px;
    }
  }

  &-tittle {
    font-family: $logo-font;
    margin-top: 15px;
    text-shadow: 0px 3px 3px #a3a3a3;
    cursor: pointer;
    color: $base-menu-color;
    @media (max-width: $small) {
      display: none;
    }
    @media (max-width: $middle) {
      display: none;
    }
    @media (min-width: $large) {
      margin-left: 80px;
    }
    @media (min-width: $xl) {
      margin-left: 170px;
    }
    @media (min-width: $xxl) {
      margin-left: 220px;
    }
  }
  &-cart {
    margin-top: 5px;
    cursor: pointer;
    color: $base-menu-color;
    position: relative;
    @media (min-width: $xs) {
      margin-left: 30px;
    }
    @media (min-width: $small) {
      margin-left: 50px;
    }
    @media (min-width: $middle) {
      margin-left: 220px;
    }
    @media (min-width: $large) {
      margin-left: 250px;
    }
    @media (min-width: $xl) {
      margin-left: 300px;
    }
    @media (min-width: $xxl) {
      margin-left: 340px;
    }
  }
  &-cart-count {
    position: absolute;
    color: $base-color;
    top: -11px;
    right: -11px;
    border-radius: 100px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #ba0001;
  }

  &-selected-place-banner {
    background-color: rgb(248, 250, 255);
    @media (min-width: $xs) {
      height: 75px;
    }
    @media (min-width: $small) {
      height: 100px;
    }
    @media (min-width: $middle) {
      height: 150px;
    }
  }
  &-selected-place-banner-tittle {
    font-size: 25px;
    color: $nav-tittle-color;
    @media (min-width: $xs) {
      padding: 20px 79px;
    }
    @media (min-width: $small) {
      padding: 30px 145px;
    }
    @media (min-width: $middle) {
      padding: 50px 280px;
    }
    @media (min-width: $large) {
      padding: 60px 180px;
    }
  }
}

.products__page-content {
  display: flex;
  width: 75%;
  margin: auto;
  padding-top: 15px;
  @media (min-width: $xs) {
    flex-direction: column;
    margin-left: 55px;
  }
  @media (min-width: $small) {
    margin-left: 140px;
  }
  @media (min-width: $middle) {
    flex-direction: row;
    margin-left: 5px;
  }
  @media (min-width: $large) {
    margin-left: 95px;
  }

  &-nav {
    flex-direction: column;
    width: 20%;
    @media (min-width: $xs) {
      margin-left: 20px;
    }
    @media (min-width: $middle) {
      margin-left: 5%;
    }
  }
  &-nav-search input {
    height: 20px;
    background-color: rgb(248, 250, 255);
    border-radius: 3px;
    border-color: transparent;
    padding-left: 10px;
    cursor: pointer;
    @media (min-width: $xs) {
      width: 300%;
      margin-left: 10px;
    }
    @media (min-width: $small) {
      width: 250%;
      margin-left: -10px;
    }
    @media (min-width: $middle) {
      width: 100%;
      margin-left: 35px;
    }
    @media (min-width: $large) {
      width: 60%;
      margin-left: 40px;
    }
  }

  &-nav-search input::placeholder {
    font-size: 10px;
  }

  &-nav-company-tittle {
    margin-top: 30px;
    margin-bottom: 4px;
  }
  &-nav-company-menu {
    font-size: 13px;
    color: $nav-tittle-color;
    letter-spacing: 2px;
    margin-left: 8px;
    cursor: pointer;
  }

  &-nav-company-range {
    font-size: 13px;
    color: $nav-tittle-color;
  }
  &-nav-company-range-bar {
    cursor: pointer;
  }

  &-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    @media (min-width: $middle) {
      justify-content: center;
      margin-left: 50px;
    }
    @media (min-width: $large) {
      margin-left: 5px;
    }
  }

  &-main-card {
    margin: 0 10px 14px;
    text-align: center;
    cursor: pointer;
  }
  &-main-card-img {
    width: 220px;
    height: 130px;
    border-radius: 3px;
  }

  &-main-card-discription {
    margin-top: 5px;
    font-size: 13px;
    color: #a3a3a3;
  }
  &-main-card-price {
    margin-top: 5px;
    font-size: 13px;
    color: #020202;
  }
}
