$xs: 350px;
$small: 481px;
$middle: 769px;
$large: 1025px;
$xl: 1201px;
$xxl: 1440px;

$base-menu-color: rgb(5, 38, 54);
$base-color: white;
$base-font: "Roboto", sans-serif;
$logo-font: "Kaushan Script", cursive;
$splash-buttons-color: rgb(226, 134, 55);
$cart-buttons-color: rgb(184, 109, 43);
$nav-tittle-color: #71899e;
